<meta charset="utf-8">

<link rel="preconnect" href="https://cdn.jsdelivr.net" />

<meta name="viewport" content="width=device-width">
<meta name="theme-color" content="#588c3a">

<meta name="title" content="AllKnowledgeBob - <%= meta.Name %>">
<meta name="description" content="<%= meta.Description %>">
<meta name="author" content="Hackermon">

<meta property="og:type" content="article" />
<meta name="og:title" content="<%= meta.Name %>">
<meta name="og:description" content="<%= meta.Description %>">
<meta name="og:icon" content="/static/images/bob.png">
    
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%= meta.Name %>">
<meta name="twitter:description" content="<%= meta.Description %>">
<meta property="twitter:image" content="https://bobbot.ml/static/images/bob.png"/>
<meta property="twitter:site" content="@hackermondev"/>
<meta property="twitter:creator" content="@hackermondev"/>


<meta property="og:image" content="https://bobbot.ml/static/images/bob.png"/>
<meta name="og:site_name" content="Hackermon">

<meta name="author" content="Hackermon">

<title>All Knowledge Bob</title>

<% if(meta.ShouldShowOnSearchEngine) { %>
  <meta name=”robots” content="index, follow">
<% } else { %>
  <meta name="robots" content="noindex, nofollow">
<% } %>

<link rel="canonical" href="https://bobbot.ml<%= meta.Page %>" />
<link href="/static/images/bob-rounded.png" rel="icon" type="image/png" defer>

	
<link href="/static/style/tailwind.css" rel="stylesheet" type="text/css" />
	
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" preload></script>
	
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flowbite/dist/flowbite.min.css" preload />
<script src="https://cdn.jsdelivr.net/npm/flowbite@1.4.7/dist/flowbite.js" defer></script>
	
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BB7HPGRYY0"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BB7HPGRYY0');
</script>

